.container {
  max-width: 1110px;
  margin: 0 auto;
  margin-top: 126px;
  margin-bottom: 87px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.textContent {
  max-width: 350px;
}

.title {
  margin-bottom: 23px;
}
.para {
  margin-bottom: 24px;
}

.source {
  mix-blend-mode: normal;
  opacity: 0.5;
}
.link {
  color: var(--white);
  font-weight: 700;
}

.span {
  opacity: 0.5;
}

.buttonText {
  margin: 0;
  margin-left: 28px;
}

.imgContainer {
  position: relative;
}

.imgSpan {
  position: absolute;
  bottom: -130px;
  transform: translateX(-50%);
  left: 50%;
}
