@use "../styles/breakpoints.scss" as *;

@import url("https://fonts.googleapis.com/css2?family=Antonio:wght@500&family=League+Spartan:wght@400;700&display=swap");
/* import stars from "../assets/background-stars.svg"; */
:root {
  --header-font: "Antonio", sans-serif;
  --body-font: "League Spartan", sans-serif;
  --white: #ffffff;
  --black: #070724;
  --gray-dark: #38384f;
  --gray-light: #838391;
  --sky-blue: #419ebb;
  --yellow: #eda249;
  --purple: #6d2ed5;
  --red-orange: #d14c32;
  --red: #d83a34;
  --orange: #cd5120;
  --teal: #1ec1a2;
  --blue: #2d68f0;
}

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: var(--black);
  background-image: url("../../public/background-stars.svg");
}
h1,
h2,
h3 {
  margin-block-start: 0px;
  margin-block-end: 0px;
  font-family: var(--header-font);
  color: var(--white);

  letter-spacing: -1.5px;
  text-transform: uppercase;
}

h4,
h5,
h6,
p {
  font-family: var(--body-font);
  color: var(--white);
  text-transform: uppercase;
  font-style: normal;
}

ul,
li {
  padding: 0;
}

.header-1 {
  font-family: var(--header-font);
  font-weight: 500;
  font-size: 40px;
  color: var(--white);
  /* line-height: 104px; */
  text-transform: uppercase;

  @include respond-to("small") {
    font-size: 48px;
  }
  @include respond-to("medium") {
    font-size: 80px;
  }
}
.header-2 {
  font-family: var(--header-font);
  font-weight: 500;
  font-size: 20px;
  color: var(--white);
  /* line-height: 52px; */
  letter-spacing: -1.5px;
  text-transform: uppercase;

  @include respond-to("small") {
    font-size: 24px;
  }
  @include respond-to("medium") {
    font-size: 40px;
  }
}
.header-3 {
  font-family: var(--body-font);
  font-weight: 700;
  font-size: 9px;
  /* line-height: 25px; */
  letter-spacing: 2.57143px;
  text-transform: uppercase;

  color: var(--white);

  @include respond-to("medium") {
    font-size: 12px;
  }
}
.header-4 {
  font-family: var(--body-font);
  font-weight: 700;
  font-size: 8px;
  /* line-height: 25px; */

  letter-spacing: 1px;
  text-transform: uppercase;

  color: var(--white);

  @include respond-to("medium") {
    font-size: 11px;
  }
}
.body {
  font-family: var(--body-font);
  font-weight: 400;
  font-size: 11px;
  line-height: 25px;
  color: var(--white);

  @include respond-to("medium") {
    font-size: 14px;
  }
}

.mercury {
  background-color: var(--sky-blue) !important;
}
.venus {
  background-color: var(--yellow) !important;
}
.earth {
  background-color: var(--purple) !important;
}
.mars {
  background-color: var(--red-orange) !important;
}
.jupiter {
  background-color: var(--red) !important;
}
.saturn {
  background-color: var(--orange) !important;
}
.uranus {
  background-color: var(--teal) !important;
}
.neptune {
  background-color: var(--blue) !important;
}

.mercury-nav {
  border-color: var(--sky-blue) !important;

  &:hover {
    // border-top: 4px solid var(--sky-blue);
    border-color: var(--sky-blue);
  }
}
.venus-nav {
  border-color: var(--yellow) !important;

  &:hover {
    // border-top: 4px solid var(--yellow);
    border-color: var(--yellow);
  }
}
.earth-nav {
  border-color: var(--purple) !important;

  &:hover {
    // border-top: 4px solid var(--purple);
    border-color: var(--purple);
  }
}
.mars-nav {
  border-color: var(--red-orange) !important;

  &:hover {
    // border-top: 4px solid var(--red-orange);
    border-color: var(--red-orange);
  }
}
.jupiter-nav {
  border-color: var(--red) !important;

  &:hover {
    // border-top: 4px solid var(--red);
    border-color: var(--red);
  }
}
.saturn-nav {
  border-color: var(--orange) !important;

  &:hover {
    // border-top: 4px solid var(--orange);
    border-color: var(--orange);
  }
}
.uranus-nav {
  border-color: var(--teal) !important;

  &:hover {
    // border-top: 4px solid var(--teal);
    border-color: var(--teal);
  }
}
.neptune-nav {
  border-color: var(--blue) !important;

  &:hover {
    // border-top: 4px solid var(--blue);
    border-color: var(--blue);
  }
}

///////////////////
/// /////////////
///
// @keyframes snow {
//   0% {
//     opacity: 0;
//     transform: translateY(0px);
//   }

//   20% {
//     opacity: 1;
//   }

//   100% {
//     opacity: 1;
//     transform: translateY(650px);
//   }
// }

@keyframes astronaut {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.astronaut {
  width: 250px;
  height: 300px;
  position: absolute;
  z-index: 11;
  top: calc(50% - 150px);
  left: calc(50% - 125px);
  animation: astronaut 5s linear infinite;
}

.schoolbag {
  width: 100px;
  height: 150px;
  position: absolute;
  z-index: 1;
  top: calc(50% - 75px);
  left: calc(50% - 50px);
  background-color: #94b7ca;
  border-radius: 50px 50px 0 0 / 30px 30px 0 0;
}

.head {
  width: 97px;
  height: 80px;
  position: absolute;
  z-index: 3;
  background: -webkit-linear-gradient(
    left,
    #e3e8eb 0%,
    #e3e8eb 50%,
    #fbfdfa 50%,
    #fbfdfa 100%
  );
  border-radius: 50%;
  top: 34px;
  left: calc(50% - 47.5px);
}

.head:after {
  content: "";
  width: 60px;
  height: 50px;
  position: absolute;
  top: calc(50% - 25px);
  left: calc(50% - 30px);
  background: -webkit-linear-gradient(
    top,
    #15aece 0%,
    #15aece 50%,
    #0391bf 50%,
    #0391bf 100%
  );
  border-radius: 15px;
}

.head:before {
  content: "";
  width: 12px;
  height: 25px;
  position: absolute;
  top: calc(50% - 12.5px);
  left: -4px;
  background-color: #618095;
  border-radius: 5px;
  box-shadow: 92px 0px 0px #618095;
}

.astro-body {
  width: 85px;
  height: 100px;
  position: absolute;
  z-index: 2;
  background-color: #fffbff;
  border-radius: 40px / 20px;
  top: 105px;
  left: calc(50% - 41px);
  background: -webkit-linear-gradient(
    left,
    #e3e8eb 0%,
    #e3e8eb 50%,
    #fbfdfa 50%,
    #fbfdfa 100%
  );
}

.panel {
  width: 60px;
  height: 40px;
  position: absolute;
  top: 20px;
  left: calc(50% - 30px);
  background-color: #b7cceb;
}

.panel:before {
  content: "";
  width: 30px;
  height: 5px;
  position: absolute;
  top: 9px;
  left: 7px;
  background-color: #fbfdfa;
  box-shadow: 0px 9px 0px #fbfdfa, 0px 18px 0px #fbfdfa;
}

.panel:after {
  content: "";
  width: 8px;
  height: 8px;
  position: absolute;
  top: 9px;
  right: 7px;
  background-color: #fbfdfa;
  border-radius: 50%;
  box-shadow: 0px 14px 0px 2px #fbfdfa;
}

.arm {
  width: 80px;
  height: 30px;
  position: absolute;
  top: 121px;
  z-index: 2;
}

.arm_left {
  left: 30px;
  background-color: #e3e8eb;
  border-radius: 0 0 0 39px;
}

.arm_right {
  right: 30px;
  background-color: #fbfdfa;
  border-radius: 0 0 39px 0;
}

.arm_left:before,
.arm_right:before {
  content: "";
  width: 30px;
  height: 70px;
  position: absolute;
  top: -40px;
}

.arm_left:before {
  border-radius: 50px 50px 0px 120px / 50px 50px 0 110px;
  left: 0;
  background-color: #e3e8eb;
}

.arm_right:before {
  border-radius: 50px 50px 120px 0 / 50px 50px 110px 0;
  right: 0;
  background-color: #fbfdfa;
}

.arm_left:after,
.arm_right:after {
  content: "";
  width: 30px;
  height: 10px;
  position: absolute;
  top: -24px;
}

.arm_left:after {
  background-color: #6e91a4;
  left: 0;
}

.arm_right:after {
  right: 0;
  background-color: #b6d2e0;
}

.leg {
  width: 30px;
  height: 40px;
  position: absolute;
  z-index: 2;
  bottom: 70px;
}

.leg_left {
  left: 76px;
  background-color: #e3e8eb;
  transform: rotate(20deg);
}

.leg_right {
  right: 73px;
  background-color: #fbfdfa;
  transform: rotate(-20deg);
}

.leg_left:before,
.leg_right:before {
  content: "";
  width: 50px;
  height: 25px;
  position: absolute;
  bottom: -26px;
}

.leg_left:before {
  left: -20px;
  background-color: #e3e8eb;
  border-radius: 30px 0 0 0;
  border-bottom: 10px solid #6d96ac;
}

.leg_right:before {
  right: -20px;
  background-color: #fbfdfa;
  border-radius: 0 30px 0 0;
  border-bottom: 10px solid #b0cfe4;
}
