@use "../styles/breakpoints.scss" as *;

// @import url("https://fonts.googleapis.com/css2?family=Antonio:wght@500&family=League+Spartan:wght@400;700&display=swap");
:root {
  // --header-font: "Antonio", sans-serif;
  // --body-font: "League Spartan", sans-serif;
  --white: #ffffff;
  --black: #070724;
  --gray-dark: #38384f;
  --gray-light: #838391;
  --sky-blue: #419ebb;
  --yellow: #eda249;
  --purple: #6d2ed5;
  --red-orange: #d14c32;
  --red: #d83a34;
  --orange: #cd5120;
  --teal: #1ec1a2;
  --blue: #2d68f0;
}

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: var(--black);
  background-image: url("../../public/background-stars.svg");
}
h1,
h2,
h3 {
  margin-block-start: 0px;
  margin-block-end: 0px;
  font-family: var(--header-font);
  color: var(--white);

  letter-spacing: -1.5px;
  text-transform: uppercase;
}

h4,
h5,
h6,
p {
  font-family: var(--body-font);
  color: var(--white);
  text-transform: uppercase;
  font-style: normal;
}

ul,
li {
  padding: 0;
}

.header-1 {
  font-family: var(--header-font);
  font-weight: 500;
  font-size: 40px;
  color: var(--white);
  text-transform: uppercase;

  @include respond-to("small") {
    font-size: 48px;
  }
  @include respond-to("medium") {
    font-size: 80px;
  }
}
.header-2 {
  font-family: var(--header-font);
  font-weight: 500;
  font-size: 20px;
  color: var(--white);
  letter-spacing: -1.5px;
  text-transform: uppercase;

  @include respond-to("small") {
    font-size: 24px;
  }
  @include respond-to("medium") {
    font-size: 40px;
  }
}
.header-3 {
  font-family: var(--body-font);
  font-weight: 700;
  font-size: 9px;
  letter-spacing: 2.57143px;
  text-transform: uppercase;

  color: var(--white);

  @include respond-to("medium") {
    font-size: 12px;
  }
}
.header-4 {
  font-family: var(--body-font);
  font-weight: 700;
  font-size: 8px;

  letter-spacing: 1px;
  text-transform: uppercase;

  color: var(--white);

  @include respond-to("medium") {
    font-size: 11px;
  }
}
.body {
  font-family: var(--body-font);
  font-weight: 400;
  font-size: 11px;
  line-height: 25px;
  color: var(--white);
  text-transform: none;

  @include respond-to("medium") {
    font-size: 14px;
  }
}

.mercury {
  background-color: var(--sky-blue) !important;
}
.venus {
  background-color: var(--yellow) !important;
}
.earth {
  background-color: var(--purple) !important;
}
.mars {
  background-color: var(--red-orange) !important;
}
.jupiter {
  background-color: var(--red) !important;
}
.saturn {
  background-color: var(--orange) !important;
}
.uranus {
  background-color: var(--teal) !important;
}
.neptune {
  background-color: var(--blue) !important;
}

.mercury-nav {
  border-color: var(--sky-blue) !important;

  &:hover {
    border-color: var(--sky-blue);
  }
}
.venus-nav {
  border-color: var(--yellow) !important;

  &:hover {
    border-color: var(--yellow);
  }
}
.earth-nav {
  border-color: var(--purple) !important;

  &:hover {
    border-color: var(--purple);
  }
}
.mars-nav {
  border-color: var(--red-orange) !important;

  &:hover {
    border-color: var(--red-orange);
  }
}
.jupiter-nav {
  border-color: var(--red) !important;

  &:hover {
    border-color: var(--red);
  }
}
.saturn-nav {
  border-color: var(--orange) !important;

  &:hover {
    border-color: var(--orange);
  }
}
.uranus-nav {
  border-color: var(--teal) !important;

  &:hover {
    border-color: var(--teal);
  }
}
.neptune-nav {
  border-color: var(--blue) !important;

  &:hover {
    border-color: var(--blue);
  }
}
