@import url("https://fonts.googleapis.com/css2?family=Antonio:wght@500&family=League+Spartan:wght@400;700&display=swap");

.container {
  max-width: 250px;
  margin: 0 auto;
  margin-top: 40px;
  text-align: center;
}

.list {
  padding: 0 24px;
}
