@use "../../styles/breakpoints.scss" as *;
@import url("https://fonts.googleapis.com/css2?family=Antonio:wght@500&family=League+Spartan:wght@400;700&display=swap");

.nav_bar {
  display: flex;
  flex-direction: column;

  justify-content: space-between;
  align-items: center;
  padding: 0px 40px 0px 32px;
  align-items: center;
  border-bottom: 1px solid rgba(260, 260, 260, 0.2);
  // height: 85px;

  @include respond-to("medium") {
    flex-direction: row;
  }
}
.tabs_container {
  height: 100%;
  display: flex;

  align-items: center;
  gap: 33px;
  /* padding: 22px 0px 27px 0px; */
}

.nav_title {
  font-size: 28px;
  font-family: "Antonio", sans-serif;
  font-weight: 400;
  color: var(--white);
  /* line-height: 36px; */
  letter-spacing: -1.05px;
  text-transform: uppercase;

  background-color: transparent;
  border: none;
  cursor: pointer;
}

.planets {
  /* height: 100%; */
  font-family: "League Spartan", sans-serif;
  font-weight: 500;
  font-size: 11px;
  text-transform: uppercase;
  color: var(--white);
  letter-spacing: 1px;
  cursor: pointer;
  opacity: 0.75;
  padding-top: 36px;
  padding-bottom: 35px;
  border: none;
  border-top: 4px solid transparent;
  background-color: transparent;
}
.planets:hover {
  opacity: 1;
  /* border-top: 4px solid var(--sky-blue); */
}

.active {
  border-top: 4px solid var(--sky-blue);
}

.mobile_nav_bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 24px;
  border-bottom: 1px solid rgba(260, 260, 260, 0.2);
}
.hamburger {
  background-color: transparent;
  border: none;
}

.activeHamburger {
  opacity: 0.5;
}
