.item {
  font-family: var(--body-font);
  font-weight: 500;
  font-size: 11px;
  text-transform: uppercase;
  color: var(--white);
  letter-spacing: 1px;
  cursor: pointer;
  opacity: 0.75;
  padding-top: 20px;
  padding-bottom: 20px;
  border: none;
  border-bottom: 4px solid transparent;
  background-color: transparent;
}

.active {
  opacity: 1;
  border-color: var(--theme-color);
}
